#root { /*don't remove this!*/
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* Add this to App.css or create it */
.body{
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
}

.app{
  margin: 0;
  padding: 0;
}

body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}