#root { 
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


.body{
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}

.app{
  margin: 0;
  padding: 0;
}

body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}



.section-content, .container {
  max-width: 1536px;  /* Adjust to your preference: 1280px, 1536px, etc */
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}